.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.refresh-button{

}

.button-div{
  text-align: center;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  background: #4ECCA3;
  background-image: -webkit-linear-gradient(top, #4ECCA3, #4ECCA3);
  background-image: -moz-linear-gradient(top, #4ECCA3, #4ECCA3);
  background-image: -ms-linear-gradient(top, #4ECCA3, #4ECCA3);
  background-image: -o-linear-gradient(top, #4ECCA3, #4ECCA3);
  background-image: linear-gradient(to bottom, #4ECCA3, #4ECCA3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a3d2ca;
  background-image: -webkit-linear-gradient(top, #a3d2ca, #a3d2ca);
  background-image: -moz-linear-gradient(top, #a3d2ca, #a3d2ca);
  background-image: -ms-linear-gradient(top, #a3d2ca, #a3d2ca);
  background-image: -o-linear-gradient(top, #a3d2ca, #a3d2ca);
  background-image: linear-gradient(to bottom, #a3d2ca, #a3d2ca);
  text-decoration: none;
}
